@{
    ViewData["Title"] = "Taller";
    ViewData["BodyClass"] = "home-background";
}

<div style="height: 100vh;">
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
        <h1 class="text-light">¡BIENVENIDO!</h1>
    </div>
</div>
